<template>
  <div class="message is-info">
    <div class="message-header">
      {{ title }}
      <button v-if="!expanded" class="plus" @click="expanded = true" />
      <button v-else class="delete" @click="expanded = false" />
    </div>
    <div v-if="expanded" class="message-body">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    expanded: false
  })
})
</script>

<style scoped>
.plus {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0.75em;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}
.plus:hover, .plus:focus {
  background-color: rgba(10, 10, 10, 0.3);
}
.plus:before, .plus:after {
  background-color: white;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
}

.plus:before {
  height: 2px;
  width: 50%;
}

.plus:after {
  height: 50%;
  width: 2px;
}
</style>
