<template>
  <main>
    <div class="container">
      <div>
        <h1 class="title is-1">
          Générateur CI Igloo
        </h1>
        <p class="content">
          Vous êtes tombés ici par hasard ? N'oubliez pas le lien vers la <a href="https://fabnum-minarm.gitlab.io/igloo/docs/">documentation</a> !
        </p>
        <p class="content">
          Vous avez un projet dans l'incubateur de la fabrique numérique du ministère des Armées ? Vous souhaitez que l'on vous aide pour votre CI/CD ? <a href="https://gitlab.com/fabnum-minarm/igloo/docs/-/issues" target="_blank">Ouvrez un ticket</a> ! <br> Vous pouvez également rejoindre #0b_igloo sur Mattermost !
        </p>
        <div class="columns">
          <div class="column">
            <div class="tabs is-boxed">
              <ul>
                <li :class="mode === 'simple' ? 'is-active' : ''">
                  <a href="#" @click="toggleMode('simple')">Configuration guidée</a>
                </li>
                <li :class="mode === 'advanced' ? 'is-active' : ''">
                  <a href="#" @click="toggleMode('advanced')">Configuration avancée</a>
                </li>
              </ul>
            </div>
            <div v-if="mode === 'simple'" class="box interactive">
              <h2 class="title is-2">
                Configuration interactive
              </h2>
              <div class="content">
                <p>
                  Mon projet a pour nom <input v-model="project" placeholder="Igloo">,
                  le dépôt concerné contient la brique <input v-model="label" placeholder="api">.
                </p>
                <div v-if="project && label">
                  <p>
                    Cette brique est faite en
                    <select v-model="language">
                      <option v-for="(name, index) of availableLanguages" :key="index" :value="index">
                        {{ name }}
                      </option>
                    </select> et utilise le gestionnaire de paquets <select v-model="packageManager">
                      <option v-for="(name, index) of availablePackageManagers(language)" :key="index" :value="index">
                        {{ name }}
                      </option>
                    </select>.
                    <br>
                  </p>
                </div>
                <to-expand v-if="project && label" title="Je souhaite que Igloo m'aide à gérer mon projet">
                  <p>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'proxy/license-scanning')"
                        @change="toggleFeature($event, 'test', 'proxy/license-scanning')"
                      >
                      Je souhaite pouvoir, via gitlab, vérifier les licences des dépendances de mon projet
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'proxy/code-quality')"
                        @change="toggleFeature($event, 'test', 'proxy/code-quality')"
                      >
                      Je souhaite que Igloo remonte une métrique de qualité de code (code climate) dans les pull requests.
                      (⚠️ L'objectif est d'avoir un indicateur d'amélioration/dégradation d'une merge request à une autre, et en aucun cas ne remplace un linter.) <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'convco.auto')"
                        @change="toggleFeature($event, 'test', 'convco.auto')"
                      >
                      Je souhaite que Igloo vérifie que le format des commits soient en <a href="https://www.conventionalcommits.org/fr/" target="_blank" rel="nofollow">Commits Conventionnels</a>, en vue de générer automatiquement des changelogs. (Outil utilisé : <a href="https://github.com/hdevalke/convco" target="_blank" rel="nofollow">convco</a>) <br>
                    </label>
                  </p>
                </to-expand>
                <to-expand v-if="project && label" title="Je souhaite que Igloo m'aide à déployer mon application">
                  <p>
                    <label>
                      <input type="checkbox" :checked="hasFeature('build', 'docker.auto')" @change="toggleFeature($event, 'build', 'docker.auto')">
                      Je veux que Igloo construise l'image docker et la stock dans le private registry gitlab.
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('deploy', 'helm.reviews.auto')"
                        :disabled="!hasFeature('build', 'docker.auto')"
                        @change="toggleFeature($event, 'deploy', 'helm.reviews.auto')"
                      >
                      Je souhaite que Igloo déploie des environnements pour chaque branche autre que `develop`. (requiert image docker)<br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('deploy', 'helm.staging.auto')"
                        :disabled="!hasFeature('build', 'docker.auto')"
                        @change="toggleFeature($event, 'deploy', 'helm.staging.auto')"
                      >
                      Je souhaite que Igloo synchronise la branche `develop` avec un environnement de développement dit "staging". (requiert image docker)<br>

                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('deploy', 'helm.production.auto')"
                        :disabled="!hasFeature('build', 'docker.auto')"
                        @change="toggleFeature($event, 'deploy', 'helm.production.auto')"
                      >
                      Je souhaite que Igloo synchronise les publications de tags avec un environnement de production. (requiert image docker) <br>
                    </label>
                    <label
                      v-if="hasFeature('deploy', 'helm.reviews.auto')
                        || hasFeature('deploy', 'helm.staging.auto')
                        || hasFeature('deploy', 'helm.production.auto')"
                    >Je souhaite exposer l'environnement dans le sous domaine <input id="subdomain" v-model="subdomain"></label>
                  </p>
                </to-expand>
                <to-expand v-if="project && label" title="Je souhaite que Igloo m'aide à maintenir en conditions de sécurité mon application">
                  <p>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'proxy/dependency-scanning')"
                        @change="toggleFeature($event, 'test', 'proxy/dependency-scanning')"
                      >
                      Je veux que Igloo analyse les dépendances projet, afin de remonter les dépendances vulnérables dans la merge request.
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'proxy/container-scanning')"
                        :disabled="!hasFeature('build', 'docker.auto')"
                        @change="toggleFeature($event, 'test', 'proxy/container-scanning')"
                      >
                      Je veux que Igloo analyse les logiciels installés dans l'image docker, afin de remonter les logiciels vulnérables dans la merge request. (requiert image docker)
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'proxy/sast')"
                        @change="toggleFeature($event, 'test', 'proxy/sast')"
                      >
                      Je veux que Igloo analyse mon code, et remonte les patterns de code potentiellement dangereux dans la merge request.
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('test', 'proxy/secret-scanning')"
                        @change="toggleFeature($event, 'test', 'proxy/secret-scanning')"
                      >
                      Je veux que Igloo cherche dans mon historique de commits, les éventuels mots de passe ou jetons présents, afin que je les en retire et les révoques.
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('dast', 'proxy/dast')"
                        :disabled="!(hasFeature('deploy', 'helm.reviews.auto')
                          && hasFeature('deploy', 'helm.staging.auto')
                          && hasFeature('deploy', 'helm.production.auto'))"
                        @change="toggleFeature($event, 'dast', 'proxy/dast')"
                      >
                      Je veux que Igloo lance automatiquement un scan de vulnérabilités sur mon environnement, et remonte le résultat dans la merge request. (requiert déploiements automatiques)
                      <br>
                    </label>
                  </p>
                </to-expand>
                <to-expand v-if="project && label" title="Je souhaite que Igloo m'aide à estimer l'impact de mes modifications">
                  <p>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('performance', 'proxy/load-performance-testing')"
                        :disabled="!(hasFeature('deploy', 'helm.reviews.auto')
                          && hasFeature('deploy', 'helm.staging.auto')
                          && hasFeature('deploy', 'helm.production.auto'))"
                        @change="toggleFeature($event, 'performance', 'proxy/load-performance-testing')"
                      >
                      Je veux que Igloo estime la performance serveur de mon application, et remonte une métrique dans la merge request. (requiert déploiements automatiques)
                      <br>
                    </label>
                    <label>
                      <input
                        type="checkbox"
                        :checked="hasFeature('performance', 'proxy/browser-performance-testing')"
                        :disabled="!(hasFeature('deploy', 'helm.reviews.auto')
                          && hasFeature('deploy', 'helm.staging.auto')
                          && hasFeature('deploy', 'helm.production.auto'))"
                        @change="toggleFeature($event, 'performance', 'proxy/browser-performance-testing')"
                      >
                      Je veux que Igloo estime la performance client de mon application, en lançant un appel depuis un simili-navigateur et remonte une métrique dans la merge request. (requiert déploiements automatiques et fichier `.k6-test.js`)
                      <br>
                    </label>
                  </p>
                </to-expand>
              </div>
            </div>
            <div v-if="mode === 'advanced'" class="box">
              <h2 class="title is-2">
                Configuration accessible
              </h2>
              <p class="subtitle is-6">
                ⚠️ Peut créer des configurations invalides
              </p>
              <div class="field">
                <label class="label" for="project">Nom du projet (requis)</label>
                <div class="control">
                  <input id="project" v-model="project" placeholder="Igloo">
                </div>
              </div>
              <div class="field">
                <label class="label" for="label">Identifiant/label du dépôt (requis)</label>
                <div class="control">
                  <input id="label" v-model="label" placeholder="api">
                </div>
              </div>
              <div class="field">
                <label class="label">Fonctionnalités de gestion de projet</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('test', 'proxy/license-scanning')" @change="toggleFeature($event, 'test', 'proxy/license-scanning')">
                    Analyser les licences des dépendances
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('test', 'convco.auto')" @change="toggleFeature($event, 'test', 'convco.auto')">
                    Vérifier le format des commits (<a href="https://www.conventionalcommits.org/fr/" target="_blank" rel="nofollow">Commits Conventionnels</a>), en vue de générer automatiquement des registres de changements (changelogs)
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('test', 'proxy/code-quality')" @change="toggleFeature($event, 'test', 'proxy/code-quality')">
                    Remonter une métrique de qualité de code (code climate)
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label">Fonctionnalités Javascript</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('build', 'npm.auto')" @change="toggleFeature($event, 'build', 'npm.auto')">
                    Fonctionnalités NPM
                  </label>
                </div>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('build', 'yarn.auto')" @change="toggleFeature($event, 'build', 'yarn.auto')">
                    Fonctionnalités Yarn
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label">Fonctionnalités de build / déploiement</label>
                <div class="control">
                  <label>Sous domaine : <input v-model="subdomain"></label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('build', 'docker.auto')" @change="toggleFeature($event, 'build', 'docker.auto')">
                    Construire l'image docker et la pousser dans le registry du dépôt gitlab
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('deploy', 'helm.reviews.auto')" @change="toggleFeature($event, 'deploy', 'helm.reviews.auto')">
                    Créer un environnement pour chaque branche dite de review.
                    <small>(Requiert configuration terraform préalable et image docker)</small>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('deploy', 'helm.staging.auto')" @change="toggleFeature($event, 'deploy', 'helm.staging.auto')">
                    Synchroniser la branche `develop` avec l'environnement de staging. <br>
                    <small>(Requiert configuration terraform préalable et image docker)</small>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('deploy', 'helm.production.auto')" @change="toggleFeature($event, 'deploy', 'helm.production.auto')">
                    Publier chaque tag sur l'environnement de production.
                    <small>(Requiert configuration terraform préalable et image docker)</small>
                  </label>
                </div>
              </div>
              <div class="field">
                <label class="label">Fonctionnalités de Sécurité</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('test', 'proxy/secret-scanning')" @change="toggleFeature($event, 'test', 'proxy/secret-scanning')">
                    Remonter les soupçons de jetons/mots de passes versionnés dans le code
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('test', 'proxy/container-scanning')" @change="toggleFeature($event, 'test', 'proxy/container-scanning')">
                    Analyser les versions logicielles des images docker
                    <small>(Requiert image docker)</small>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('test', 'proxy/sast')" @change="toggleFeature($event, 'test', 'proxy/sast')">
                    Faire des analyses statiques de code (analyse les combinaisons d'instructions de code menant à des vulnérabilités)
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('dast', 'proxy/dast')" @change="toggleFeature($event, 'dast', 'proxy/dast')">
                    Faire des analyses dynamiques de code (va lancer des attaques sur le conteneur déployé)
                    <small>(Requiert un environnement déployé automatiquement)</small>
                  </label>
                </div>
              </div>
              <div class="field">
                <label class="label">Fonctionnalités d'analyses de performances</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('performance', 'proxy/load-performance-testing')" @change="toggleFeature($event, 'performance', 'proxy/load-performance-testing')">
                    Faire des tests de performance du conteneur docker
                    <small>(Requiert un environnement déployé automatiquement)</small>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" :checked="hasFeature('performance', 'proxy/browser-performance-testing')" @change="toggleFeature($event, 'performance', 'proxy/browser-performance-testing')">
                    Analyser les performances de chargement dans le navigateur
                    <small>(Requiert un environnement déployé automatiquement)</small>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="column content">
            <h2>Mes actions</h2>
            <p v-if="!(project && label)" class="box">
              🤔 Avant tout, je renseigne les informations sur mon projet
            </p>
            <div v-else class="box">
              <ol>
                <li
                  v-if="
                    hasFeature('deploy', 'helm.reviews.auto')
                      || hasFeature('deploy', 'helm.staging.auto')
                      || hasFeature('deploy', 'helm.production.auto')
                  "
                >
                  ⚠️ Je dois prendre contact avec l'équipe pour qu'ils ajoutent des namespaces pour mon projet,
                  et qu'ils configurent mon dépot gitlab.
                </li>
                <li v-if="hasFeature('test', 'convco.auto')">
                  ⚠️ Je dois m'assurer que chaque commit soit au format <a href="https://www.conventionalcommits.org/fr/" target="_blank" rel="nofollow">Commits Conventionnels</a>.
                </li>
                <li v-if="hasFeature('performance', 'proxy/browser-performance-testing')">
                  ⚠️ Je dois créer un fichier <a href="https://k6.io/" target="_blank" rel="nofollow">`.k6-test.js`</a> à la racine de mon projet.
                </li>
                <li v-if="hasFeature('build', 'docker.auto')">
                  ⚠️ Je dois ajouter un fichier `Dockerfile` à la racine de mon projet.
                  Je peux demander à l'équipe Igloo de m'y aider.
                </li>
                <li v-if="hasFeature('build', 'yarn.auto')">
                  ⚠️ La commande `yarn test` sera lancée automatiquement afin de lancer les tests unitaires de votre projet.
                </li>
                <li v-if="hasFeature('build', 'npm.auto')">
                  ⚠️ La commande `npm test` sera lancée automatiquement afin de lancer les tests unitaires de votre projet.
                </li>
                <li>⚠️ Je créé un fichier `.gitlab-ci.yml` à la racine de mon dépôt, avec le contenu suivant :</li>
              </ol>
              <pre><code v-html="highlightedYaml" /></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
import { dash } from 'any-case'
import Prism from 'prismjs'
import toExpand from '../components/expand.vue'
import 'prismjs/components/prism-yaml'
import 'prismjs/themes/prism.css'

Prism.manual = true

export default Vue.extend({
  components: {
    toExpand
  },
  data: () => ({
    project: null,
    mode: 'simple',
    label: null,
    language: '',
    subdomain: '',
    packageManager: '',
    features: {
      build: [],
      test: [],
      deploy: [],
      dast: [],
      performance: []
    } as {[index: string]:Array<string>}
  }),
  computed: {
    availableLanguages () {
      return {
        js: 'Javascript'
      }
    },

    availableModes () {
      return ['simple', 'advanced']
    },
    yamlContentStages () {
      return Object.keys(this.features)
        .filter(feature => this.features[feature].length > 0)
        .map(feature => `  - ${feature}`)
    },
    yamlContentInclude () {
      const includes = [
        ...this.features.deploy.find(f => f.startsWith('helm')) ? [
          [
            '      # Required',
            '      - /helm.yml'].concat('').join('\n')
        ] : [],
        ...Object.keys(this.features)
          .filter(feature => this.features[feature].length > 0)
          .map(key => [`      # ${key}`].concat(this.features[key].map(feature => ([
            `      - /${feature}.yml`].join('\n'))
          ).concat('')).join('\n'))
      ]
      return includes.length > 0 ? [
        '  - project: fabnum-minarm/igloo/gitlab-templates',
        '    file:',
        ...includes
      ] : includes
    },

    yamlContentVariables () {
      const variables = []
      if (this.features.deploy.find(s => s.startsWith('helm'))) {
        switch (this.language) {
          case 'js':
            variables.push('  HELM_CHART: igloo-stable/nodejs')
            break
        }
        variables.push(`  HELM_NAME: ${dash(this.label)}`)
      }
      return variables
    },
    yamlContentOther (): Array<string> {
      const dashedLabel = dash(this.label)
      const params = []
      const subdomainPrefix = this.subdomain ? `${dash(this.subdomain)}.` : ''
      if (this.hasFeature('deploy', 'helm.reviews.auto')) {
        params.push(
          '\n',
          'deploy:review:',
          '  variables:',
          `    HOST: \${CI_ENVIRONMENT_SLUG}.${subdomainPrefix}\${BASE_DOMAIN}`,
          '    HELM_INGRESS_HOST: $HOST',
          `    HELM_NAME: ${dashedLabel}-\${CI_COMMIT_REF_SLUG}`,
          '  environment:',
          `    url: https://\${CI_ENVIRONMENT_SLUG}.${subdomainPrefix}\${BASE_DOMAIN}`,
          'deploy:review:uninstall:',
          '  variables:',
          `    HELM_NAME: ${dashedLabel}-\${CI_COMMIT_REF_SLUG}`
        )
      }
      if (this.hasFeature('deploy', 'helm.staging.auto')) {
        params.push(
          '\n',
          'deploy:staging:',
          '  variables:',
          `    HOST: ${subdomainPrefix}\${BASE_DOMAIN}`,
          '    HELM_INGRESS_HOST: $HOST',
          '  environment:',
          `    url: https://${subdomainPrefix}\${BASE_DOMAIN}`
        )
      }
      if (this.hasFeature('deploy', 'helm.production.auto')) {
        params.push(
          '\n',
          'deploy:production:',
          '  variables:',
          `    HOST: ${subdomainPrefix}\${BASE_DOMAIN}`,
          '    HELM_INGRESS_HOST: $HOST',
          '  environment:',
          `    url: https://${subdomainPrefix}\${BASE_DOMAIN}`
        )
      }
      return params
    },
    yamlContent (): string {
      return [`# .gitlab-ci.yml for ${this.project} (${this.label})`,
        ...(this.yamlContentStages.length > 0 ? ['stages:'] : []),
        ...this.yamlContentStages,
        '',
        ...(this.yamlContentInclude.length > 0 ? ['include:'] : []),
        ...this.yamlContentInclude,
        ...(this.yamlContentVariables.length > 0 ? ['variables:'] : []),
        ...this.yamlContentVariables,
        ...this.yamlContentOther

      ].join('\n')
    },

    highlightedYaml (): string {
      return Prism.highlight(this.yamlContent, Prism.languages.yaml, 'yaml')
    }
  },
  watch: {
    packageManager (newPM: string, oldPM: string) {
      switch (oldPM) {
        case 'npm':
          this.removeFeature('build', 'npm.auto')
          break
        case 'yarn':
          this.removeFeature('build', 'yarn.auto')
          break
      }
      switch (newPM) {
        case 'npm':
          this.addFeature('build', 'npm.auto')
          break
        case 'yarn':
          this.addFeature('build', 'yarn.auto')
          break
      }
    }
  },
  methods: {
    toggleMode (mode: string) {
      this.mode = mode
    },
    hasFeature (stage: string, file: string) {
      return this.features[stage].includes(file)
    },
    addFeature (stage: string, file: string) {
      this.features[stage].push(file)
    },
    removeFeature (stage: string, file: string) {
      this.features[stage].splice(this.features[stage].indexOf(file), 1)
    },
    toggleFeature (event: Event, stage: string, file: string) {
      const target = event!.target as HTMLInputElement
      if (target.checked) {
        this.addFeature(stage, file)
      } else {
        this.removeFeature(stage, file)
      }
    },
    availablePackageManagers (language: string) {
      switch (language) {
        case 'js':
          return {
            npm: 'NPM',
            yarn: 'Yarn'
          }
      }
    }
  }
})
</script>

<style scoped>
main {
  padding: 30px 0;
}
.interactive input {
  border: 0;
  border-bottom: 1px solid;
}
</style>
